<style>
p{
  font-size: 20px;
}

.smallerImage{
  width: 400px;
}
.thin-black-border{
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}
.background-color{
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gold;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body  {
  color: orange;
  background-color: black;
  font-style:italic;
  font-family: cursive;
}
</style>
