<style>
p{
  font-size: 20px;
  position: relative;
  left: -100px;
}

.thin-black-border{
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gold;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body  {
  color: black;
  background-color: beige;
  font-style:italic;
  font-family: cursive;
}
#slider {
  align-items: center;
}
</style>
