<style>
p{
  font-size: 20px;
  position: relative;
  left: -100px;
}

.thin-black-border{
  border-color: yellow;
  border-width: 5px;
  border-style: solid;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
body  {
  color: black;
  background-color: beige;
  font-style:italic;
  font-family: cursive;
}

#html .rs-range-color /*, #css .rs-range-color */, #js .rs-range-color /*, #python .rs-range-color */, #java .rs-range-color {
    background-color: #ff8d00;
}

</style>
